.main {
  margin-top: 150px;
}

.user-column {
  max-width: 20rem;
}

.laps-list {
  text-align: center;
  padding-right: 0;
}

.btn-custom {
  background-color: #bd3030;
  margin: 5px; 
}

.btn-custom:hover {
  background-color: #bd3030;
}

.btn-custom.laps {
  font-size:14px; 
}